body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

#pembalut {
    margin: 0 auto;
    padding: 8px;
    border:1px solid rgb(128, 128, 128);
    border-width: 1px;
    border-radius: 8px;
    width: 360px;
    height: 575px;
    background-color: gainsboro;
    
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0px 0px 21px 0px;
    background-color: rgb(215, 0, 0);
    color: white;
    border-radius: 8px;
}


#reverseSuhu {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.optionSuhu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px;
}

#dari {
    font-size: 16px;
}

#ke {
    font-size: 16px;
}

#reverse {
    font-size: 28px;
}

#daerahInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#inputUser {
    button{
        font-size: 16px;
    }
    input{
        font-size: 16px;
}
}

#hapusKonversi {
    display: flex;
    justify-content: space-between;
    button {
        font-size: 16px;
    }
}

#hasilSolusi {
    background-color: white;
    border:1px solid rgb(128, 128, 128);
    border-radius: 8px;
    padding: 8px 0px 24px 8px;

}

#displayHasil {
    display: flex;
    justify-content: center;
}

hr {
    margin: 8px 8px 8px 0px;
}

#solusi {
    display: none;
    flex-direction: column;
    
}

#solusiF {
    display: none;
    align-items: center;
    flex-direction: column;
}

#solusiC {
    display: none;
    align-items: center;
    flex-direction: column;
}